.nav-font{
    font-family: 'Permanent Marker', cursive;
}

.img-port{
    height:10rem;
    width:10rem;
    margin-top:10px;
    margin-left:10px;
}

.flexing{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}